<!DOCTYPE html>
<html>
<head>
  <title>Chacklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Chacklist", root_path, class: "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav">
				<li><%= link_to "Реєстрація", new_user_registration_path %></li>
				<% if current_user.present? %>
					<li><%= link_to "Вийти", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Вхід", new_user_session_path %></li>
				<% end %>
				<li><%= link_to 'Інформація'  %></li>
			</ul>
			<% if user_signed_in? %>
				<%= link_to "Додати пункт", new_item_path, class: "navbar-text navbar-link navbar-right"%>
			<% end %>
		</div>
	</nav>

	<!--<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
-->
<div class="container">
	<%= yield %>
</div>
<br>
<!-- <nav class="navbar-bottom" style=""><div class="container center-this">-->
<!--<%= link_to "Сорінка розробника", "https://vk.com/sany_wtf" %>	</div> </nav>-->
</body>
</html>
